@charset "utf-8";
*{margin:0 auto; padding:0;}
ul,li{list-style:none;}

#wrap{width:90%;}
header{background:#09f;}
h1{padding:2%; color:#fff;}
h5{padding:0 0 1% 2%; color:#fff;}
nav{background-color:#ccc;}
nav li{float:left; padding:0.5%; margin:0; text-align:center; color:#333; width:15.6%;}
nav:after{content:""; clear:both; display:block;}
article{float:left; width:70%;}
section{width:100%; background: #eee;}
h2{padding:1% 0 0 2%;}
h3{padding:1% 0 0 2%;}
aside{width:30%; float:right;}
#content:after{content:""; clear:both; display:block;}
footer{background: #666; color:#fff; width:100%;}
p{padding:2%;}

/* 크기 페딩등을 %로 지정하면 브라우저 창의 크기에 따라 모양을 유지하는 반응형 웹을 만들수 있음 */