@charset "utf-8";
*{margin:0 auto; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit; padding:15px; display:inline-block;}

body{
  font-family: "맑은 고딕", "고딕", "굴림";
  background:url(../img/bg1.jpg) no-repeat center center fixed;
  background-size: cover;  
}

#wrap{width:800px;}

header{
  widows: 100%;
  height:150px;
  background:rgba(0,100,255,0.7) url(../img/bg_han.png) no-repeat right center;
}
header nav{float:left; width:70%;}

nav ul li{float:left;}
nav ul li a{color:white;}

footer p{padding:20px;}

h1{font-size: 1.5em; color:#fff; padding:20px;;}
h3{font-size: 1.0em;}
p{line-height:20px; font-size: 12px;}

section{float:left; width:580px; padding:5px;}
section article{
  float:left;
  width:250px;
  height:220px;
  margin:5px;
  padding:10px;
  border:1px solid #ccc;
}

aside{
  float:right;
  width:200px;
  text-align: center;
}
aside img{margin:10px;}

footer{
  clear:both;
  width:800px;
  margin-bottom: 0;
  background: #333;
  color:white;
  text-align: center;
}

.at1,.at2,.at3,.at4,li{
  transition:1s; 
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition:1s;
}
.at1:hover{
  background-color:#cf9;
  border:1px solid green;
}
.at2:hover{
  background-color:#a2d0ff;
  border:1px solid blue;
}
.at3:hover{
  background-color:#ebcbfe;
  border:1px solid purple;
}
.at4:hover{
  background-color:#fc3;
  border:1px solid red;
}
li:hover{background:#fff;}
a:hover{color:#06c;}

/* 추가된 스타일 */
.sub{display:none; position: absolute; z-index: 1; background:rgba(0,0,0,0.7);}
li:hover ul{display:block;}