@charset "utf-8";
*{margin:0 auto; padding:0;}
ul,li{list-style:none;}
a{text-decoration: none; color:inherit; display:block;}

#wrap{width:750px;}
.gnb>li{float:left; text-align: center;}
nav:after{content:""; clear:both; display:block;}

.gnb>li>a{width:150px; line-height: 50px; background:#333;
          color:#fff}
.gnb>li>a:hover{color:#000; background:#fff; 
  transition:all 0.6s;}

.sub>li>a{width:150px; line-height: 50px; color:#555;}
.sub>li>a:hover{color:#000; background:#fff; 
  transition:all 0.6s;}

.sub {display:none; position:absolute; z-index:1; background:rgba(0,0,0,0.1);}
.gnb>li:hover .sub {display:block;}

.box{width:750px; height:400px; background:#ccc;}
